/* CSS BY JAELYNN SHURLEY */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); 
/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

h1 {
    color: var(--linen);
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    padding: 10px;
}

h2 {
    font-family: Playfair Display, sans-serif;
    font-size: 1.75em;
    padding-top: 1em;
    color: var(--midnight-blue);
}

h3 {
    font-family: Playfair Display, sans-serif;
    font-size: 1.65em;
    padding: 5px 10px;
    color: var(--midnight-blue);
}

p {
    font-size: 1em;
    padding: 0.5em 0;
    color: var(--dark-charcoal);
    line-height: 25px;
}

hr {
    border-top: 2px solid var(--champagne-gold);
}

header {
    background-color: var(--midnight-blue);
    text-align: center;
}

nav {
    background-color: var(--champagne-gold);
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bolder;
}

header p {
    font-style: italic;
    padding-bottom: 20px;
    color: var(--linen);
}

.green-box {
    background-color: var(--olive-green);
    border-radius: 10px;
    margin: 1em auto;
    padding: 0.5em;
}

.green-box p,h3,li {
    color: var(--soft-white);
}

.green-box ul {
    padding: 5px 25px;
    list-style-type: disc;
}

.container {
    border-radius: 10px;
    box-shadow: var(--dark-charcoal) 2px 2px 10px;
    margin: .5em auto 1.5em;
}

.container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.container p {
    padding: 0.5em;
    text-align: center;
    font-style: italic;
}

button {
    background-color: var(--olive-green);
    color: var(--soft-white);
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 0.5em auto 1em;
}

footer{
    background-color: var(--midnight-blue);
    text-align: center;
    padding: 2em;
    color: var(--linen);
}
footer a {
    text-decoration: none;
    color: var(--champagne-gold);
    font-weight: bold;
}
footer a:hover {
    color: var(--soft-white);
}

footer div {
    padding: 1em 0 2.5em;
    line-height: 1.5em;
}

/* GLOBAL STYLES (mobile first/small) */
@media screen and (min-width: 428px) {
    main {
        margin: auto 2em
    }

    header img {
        width: 30%;
        height: auto;
    }
}

/* MEDIA QUERY (medium) */
@media screen and (min-width: 834px) {
    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin: 1em auto;
    }

    .green-box:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .green-box {
        margin: 0;
    }

    .container {
        margin: 0;
    }

    #gallery-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
        margin: 1em auto;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 1280px) {
    #gallery-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main {
        max-width: 1280px;
        margin: 0 auto;
    }
}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1440px) {
    #gallery-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}